<section>
    <h3>Angular JS</h3>
    <hr />
    <p>
        @Html.ActionLink("eCommerce", "Index", "Ecommerce", new { area = "" }, new { target = "_blank" }) feature is developed using Angular JS.
        This page is coming up soon... More info on <a href="https://docs.angularjs.org/guide" target="_blank">AngularJs</a>&nbsp;<span class="glyphicon glyphicon-new-window"></span>.
    </p>
</section>

