<section>
    <h3>Font Awesome</h3>
    <hr />
    <p>
        Icons in this website are from Font Awesome. This page is coming up soon... More info <a href="http://fontawesome.io/" target="_blank">here</a>&nbsp;<span class="glyphicon glyphicon-new-window"></span>.
    </p>
</section>

