<section>
    <h3>Knockout JS</h3>
    <hr />
    <p>
        @Html.ActionLink("Blog", "AllPosts", "Home", new { area = "Blog" }, new { target = "_blank" }) feature is developed using Knockout JS.
        This page is coming up soon... More info on <a href="http://knockoutjs.com/index.html" target="_blank">KnockoutJs</a>&nbsp;<span class="glyphicon glyphicon-new-window"></span>.
    </p>
</section>

