<section>
    <h3>Type Script</h3>
    <hr />
    <p>
        Coming up soon... More info <a href="https://www.typescriptlang.org/docs/tutorial.html" target="_blank">here</a>&nbsp;<span class="glyphicon glyphicon-new-window"></span>.
    </p>
</section>

