<!-- Modal alert -->
<div id="alertify-msg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alertMsgModalLabel">
    <div class="modal-dialog" role="document">
        <div class="panel">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 0.5"><i class="fa fa-times-circle"></i></button>
                <h4 class="panel-title text-uppercase"><i></i>&nbsp;&nbsp;<span></span></h4>
            </div>
            <div class="panel-body">
                <div class="alertify-content" style="min-height: 75px; max-height: 300px; overflow-y: auto; padding-top: 15px">
                </div>
                <div style="text-align: center">
                    <span class="alertify-footer" data-dismiss="modal">CLOSE</span>
                </div>
            </div>
        </div>
    </div>
</div>
