<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ProductsDbConnection"
      connectionString="Data Source=server-name; Initial Catalog=GuruInProductsDB; User Id=****; Password=****;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="BlogDbConnection"
      connectionString="Data Source=server-name; Initial Catalog=GuruInBlogDB; User Id=****; Password=****;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <log4net>
    <appender>
      <file value="G:\PleskVhosts\guruin.net\httpdocs\Log\GuruInServerLog.txt"
            xdt:Transform="Replace"
            xdt:Locator="Condition(../@name='GuruInServerLog')" />
      <file value="G:\PleskVhosts\guruin.net\httpdocs\Log\GuruInClientLog.txt"
            xdt:Transform="Replace"
            xdt:Locator="Condition(../@name='GuruInClientLog')" />
    </appender>
  </log4net>
</configuration>