
<div class="justify-anchors visible-lg">
    <a href="/Demos#angular" class="btn btn-custom-default btn-lg">Angular JS&nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#bootstrap" class="btn btn-custom-default btn-md">Bootstrap&nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#jasmin" class="btn btn-custom-default btn-md">QUnit / Jasmin &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#type-js" class="btn btn-custom-default btn-md">Type js &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#sass-less" class="btn btn-custom-default btn-md">Sass / Scss &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#react-js" class="btn btn-custom-default btn-sm">npm / bower &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#knockout" class="btn btn-custom-default btn-lg">Knockout JS&nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#font-awesome" class="btn btn-custom-default btn-xs">Font Awesome &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#html5" class="btn btn-custom-default btn-lg">HTML 5 &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#jasmin" class="btn btn-custom-default btn-md">QUnit / Jasmin &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#react-js" class="btn btn-custom-default btn-xs">npm / bower &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#font-awesome" class="btn btn-custom-default btn-xs">Font Awesome &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#jasmin" class="btn btn-custom-default btn-md">QUnit / Jasmin &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#type-js" class="btn btn-custom-default btn-md">Type js &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#sass-less" class="btn btn-custom-default btn-md">Sass / Scss &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
</div>

<div class="justify-anchors visible-md">
    <a href="/Demos#angular" class="btn btn-custom-default btn-lg">Angular JS&nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#bootstrap" class="btn btn-custom-default btn-md">Bootstrap&nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#jasmin" class="btn btn-custom-default btn-md">QUnit / Jasmin &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#type-js" class="btn btn-custom-default btn-md">Type js &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#sass-less" class="btn btn-custom-default btn-md">Sass/Scss &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#react-js" class="btn btn-custom-default btn-sm">npm / bower &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#knockout" class="btn btn-custom-default btn-lg">Knockout JS&nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#font-awesome" class="btn btn-custom-default btn-xs">Font Awesome &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#html5" class="btn btn-custom-default btn-lg">HTML 5 &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#jasmin" class="btn btn-custom-default btn-md">QUnit / Jasmin &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#react-js" class="btn btn-custom-default btn-xs">npm / bower &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#font-awesome" class="btn btn-custom-default btn-xs">Font Awesome &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
</div>
