
<div class="justify-anchors visible-lg">
    <a href="/Demos#angular" class="btn btn-custom-default btn-lg">Angular JS&nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#bootstrap" class="btn btn-custom-default btn-md">Bootstrap&nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#jasmine" class="btn btn-custom-default btn-md">Jasmine &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#type-js" class="btn btn-custom-default btn-md">Type Script &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#sass-less" class="btn btn-custom-default btn-md">Sass &amp; Scss &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#bower-npm" class="btn btn-custom-default btn-sm">npm &amp; Bower &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#knockout" class="btn btn-custom-default btn-lg">Knockout JS&nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Ecommerce" class="btn btn-custom-default btn-lg">eCommerce &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Blog/AllPosts" class="btn btn-custom-default btn-md">Blog &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#font-awesome" class="btn btn-custom-default btn-xs">Font Awesome &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#jshint" class="btn btn-custom-default btn-lg">JSHint &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/GDrive" class="btn btn-custom-default btn-md">G-Drive &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#git-gulp" class="btn btn-custom-default btn-lg">Git &amp; Gulp &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Dashboard/List" class="btn btn-custom-default btn-md">Dashboard &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Fiddle" class="btn btn-custom-default btn-lg">JS Fiddle &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
</div>

<div class="justify-anchors visible-md">
    <a href="/Demos#angular" class="btn btn-custom-default btn-lg">Angular JS &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#bootstrap" class="btn btn-custom-default btn-md">Bootstrap &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#jasmine" class="btn btn-custom-default btn-md">Jasmine &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#type-js" class="btn btn-custom-default btn-md">Type Script &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#sass-less" class="btn btn-custom-default btn-md">Sass/Scss &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#bower-npm" class="btn btn-custom-default btn-sm">npm &amp; Bower &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#knockout" class="btn btn-custom-default btn-lg">Knockout JS &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#font-awesome" class="btn btn-custom-default btn-xs">Font Awesome &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#jshint" class="btn btn-custom-default btn-lg">JSHint &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Blog/AllPosts" class="btn btn-custom-default btn-md">Blog &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Ecommerce" class="btn btn-custom-default btn-lg">eCommerce &nbsp;<i class="fa fa-hand-o-right fa-1_1x"></i></a>
    <a href="/Demos#git-gulp" class="btn btn-custom-default btn-md">Git &amp; Gulp &nbsp; <i class="fa fa-hand-o-right fa-1_1x"></i></a>
</div>
