
<div class="justify-anchors visible-sm">
    <a href="/Demos#angular" class="btn btn-custom-default btn-md">Angular JS</a>
    <a href="/Demos#bootstrap" class="btn btn-custom-default btn-sm">Bootstrap</a>
    <a href="/Demos#font-awesome" class="btn btn-custom-default btn-xs">Font Awesome</a>
    <a href="/Demos#bower-npm" class="btn btn-custom-default btn-xs">npm &amp; Bower</a>
    <a href="/Demos#jshint" class="btn btn-custom-default btn-md">JSHint</a>
    <a href="/Demos#sass-less" class="btn btn-custom-default btn-xs">Sass &amp; Scss</a>
    <a href="/Demos#jasmine" class="btn btn-custom-default btn-xs">Jasmine</a>
    <a href="/Demos#knockout" class="btn btn-custom-default btn-md">Knockout JS</a>
    <a href="/Demos#git-gulp" class="btn btn-custom-default btn-xs">Git &amp; Gulp</a>
    <a href="/Demos#type-js" class="btn btn-custom-default btn-xs">Type Script</a>
</div>
<div class="justify-anchors visible-xs">
    <a href="/Demos#angular" class="btn btn-custom-default btn-md">Angular JS</a>
    <a href="/Demos#bootstrap" class="btn btn-custom-default btn-sm">Bootstrap</a>
    <a href="/Demos#bower-npm" class="btn btn-custom-default btn-xs">npm &amp; Bower</a>
    <a href="/Demos#jshint" class="btn btn-custom-default btn-md">JSHint</a>
    <a href="/Demos#sass-less" class="btn btn-custom-default btn-xs">Sass &amp; Scss</a>
    <a href="/Demos#jasmine" class="btn btn-custom-default btn-xs">Jasmine</a>
    <a href="/Demos#git-gulp" class="btn btn-custom-default btn-xs">Git &amp; Gulp</a>
    <a href="/Demos#knockout" class="btn btn-custom-default btn-md">Knockout JS</a>
</div>

<div class="image-panel-small">
    <div><span class="welcome-text">Welcome to </span><span class="brand-name">Guru In .NET</span></div>
    <div><span class="brand-slogan">A developer's website to learn key tricks of new technologies!</span></div>
</div>
