@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-1_3x"></i></a></li>
    </ol>
}

<div>
    <h3 class="text-uppercase" style="color: #e00; display: inline;">
        <i class="fa fa-times-circle fa-1_3x"></i>&nbsp; @ViewBag.Title
    </h3>

    @if (TempData.Keys.Contains("IsDebugMode") && TempData["IsDebugMode"] != null && (bool)TempData["IsDebugMode"])
    {
        <span style="font-size: 0.9em">
            &nbsp; (Switch back to <a href="#" onclick="window.location.href = 'http://www.guruin.net' + window.location.pathname + window.location.search">LIVE</a> version)
        </span>
    }
    else
    {
        <span style="font-size: 0.9em">
            &nbsp; (Check out <a href="#" onclick="window.location.href = 'http://dev.guruin.net' + window.location.pathname + window.location.search">DEV</a> version)
        </span>
    }

    @if (TempData.Keys.Contains("ShowExceptionDetails") && TempData["ShowExceptionDetails"] != null && (bool)TempData["ShowExceptionDetails"] == true
        && Model.Exception != null && !string.IsNullOrWhiteSpace(Model.Exception.Message) && Model.Exception.Message != "Exception of type 'System.Exception' was thrown.")
    {
        Html.RenderPartial("_exceptionDetails", Model.Exception);
    }
    else
    {
        <h5>
            Sorry. An unexpected error occured while trying to process your request.
        </h5>
        <p style="margin-top: 40px">
            <b>
                The error has been logged for resolution, please try again later.
                Meanwhile, please navigate using the menu bar above, or by clicking <a href="#" onclick="window.history.back();">back</a>.
            </b>
        </p>
        <div><img alt="Error" src="~/Images/error.png"></div>
    }
</div>
